* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding-bottom: 32px;
    background-image: url(./imgs/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.header-container {
    min-height: 50px;
    background-color:rgb(37, 94, 233);
    padding: 16px 32px;
}

nav {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    line-height: 2rem;
}

ul {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
}

li {
    padding: 0 1rem;
    font-size: 0.8rem;
}

.logo-nav {
    padding: 0 1rem;
}

header div nav div img {
    height: 2rem;
}

.login {
    padding: 0 1rem;
}

.btn-base {
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(63, 60, 74);
}

.header-welcome {
    max-width: 920px;
    width: 100%;
    margin:auto;
    margin-top: 64px;
    border-radius: 0.5rem;
}

header div h1 {
    font-size: 2.5rem;
    padding-top: 1.5rem;
}

.hero-description {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.btn-hero-left, .btn-hero-right {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 1.2rem;
    margin: 0 0.5rem;
    margin-bottom: 5.5rem;
}

.btn-hero-right {
    color: white;
    background-color: rgb(35, 39, 42);
}

main {
    background-color: white;
}

main section {
    max-width: 1200px;
    width: 100%;
    margin: 32px auto;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

main section img {
    padding: 0 4rem;
    height: 23rem;
}

main section div h2 {
    padding: 2rem 1rem;
    font-size: 2.3rem;
}

main section div p {
    padding: 0 1rem;
    line-height: 1.5rem;
    color: rgb(43, 43, 43);
}

.grey-back {
    background-color: lightgray;
    padding: 10px 10px;
}

.mid-section {
    justify-content: flex-end;
}

.pre-footer {
    background-color: green;
    width: 100%px;
    height: 900px; 
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(43, 43, 72);
    padding-top: 32px;
}

.top-footer {
    background-color: pink;
    width: 1200px;
    height: 600px;
    margin: 32px auto;
    display: flex;
    justify-content: flex-end;
}

.bottom-footer {
    background-color: rgb(192, 255, 212);
    width: 1200px;
    height: auto;
    margin:auto;
    margin-top: 32px;
    justify-content: space-between;
}

footer section {
    display: flex;
}

footer section:last-of-type {
    padding: 8px 0;
}

.nav-column {
    background-color: rgb(190, 255, 255);
    height: auto;
    width: 15%;
    border-right: 2px solid white;
}



section h5 {
    background-color: pink;
}

footer section div:nth-child(4) {
    border: none;
}